@media only screen and (max-width: 768px) {
  @font-face {
    font-family: 'cocogoose';
    src: url('/fonts/Cocogoose_trial.otf');
  }

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #272a31;
  }

  .width-100 {
    width: 100%;
  }

  .display-flex {
    display: flex;
  }

  .display-grid {
    display: grid;
  }

  /* menu button */
  .menu-btn {
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
  }

  .hamburger {
    width: 50px;
    height: 7px;
    background: #ec5242;
    transition: 0.25s ease-in-out;
    border-radius: 10px;
  }

  .hamburger::after,
  .hamburger::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 7px;
    background: #272a31;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
  }

  .hamburger::before {
    transform: translateY(13px);
  }

  .hamburger::after {
    transform: translateY(-13px);
  }

  /* menu button animation */
  .open .hamburger {
    background-color: transparent;
  }

  .open .hamburger::before {
    transform: rotate(45deg);
  }

  .open .hamburger::after {
    transform: rotate(-45deg);
  }

  header {
    background-image: url("./pictures/bg/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* intro section */
  .intro-container {
    padding: 6%;
    gap: 12px;
    flex-direction: column;
  }

  .intro-container h4 {
    color: #ec5242;
    font-size: 24px;
  }

  .intro-container h1 {
    background-image: url("./pictures/bg/bg-text.jpg");
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "cocogoose", sans-serif;
    color: #ec5242;
    font-size: 35px;
    line-height: 43px;
  }

  footer p {
    font-size: 20px;
  }

  .intro-container p {
    background-color: rgba(211, 211, 211, 0.3);
    border: 2px solid white;
    padding: 8%;
    line-height: 30px;
  }

  .intro-container h2 {
    font-size: 20px;
    font-family: "cocogoose", sans-serif;
    margin: 5px 0;
  }

  span {
    line-height: 30px;
  }

  .program-container {
    padding: 8% 3%;
    flex-direction: column;
    background-image: url("/pictures/bg/bg-sponsors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .program-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 7% auto;
  }

  .program-header {
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin: 10px auto;
  }

  .main-separator {
    width: 13%;
    margin: 0 auto;
    border: 2px solid #ec5242;
  }

  .card {
    gap: 10px;
    padding: 6%;
    background-color: rgba(211, 211, 211, 0.3);
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .card img {
    width: 50px;
    height: 50px;
  }

  .card h5 {
    color: #ec5242;
    font-size: 13px;
    text-align: left;
    margin-left: 8px;
    line-height: 22px;
  }

  .card p {
    color: white;
    font-size: 10px;
    line-height: 20px;
    margin-left: 8px;
  }

  .program-btn-container {
    justify-content: center;
    align-items: center;
  }

  .program-btn-container button {
    padding: 5%;
    background-color: #ec5242;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 65%;
    border: none;
    justify-content: center;
  }

  .cards-speakers-container {
    gap: 12px;
    padding: 5%;
    margin: 5% auto;
    flex-direction: column;
  }

  .speakers-container {
    flex-direction: column;
    margin: 9% 0;
  }

  .cards-speakers {
    padding: 7%;
    border: 3px solid red;
    background-image: url("./pictures/speakers/chess.png");
    background-repeat: no-repeat;
    background-position: 3% 3%;
    background-size: 60px;
  }

  .speakers-container h3 {
    margin: 5% auto;
    font-size: 18px;
  }

  .card-of-speakers-img {
    width: 30%;
  }

  .card-of-speakers-img img {
    width: 120%;
    height: 100%;
  }

  .card-of-speakers-content {
    margin-left: 10%;
    font-size: 14px;
    width: 70%;
  }

  .card-of-speakers-content h5 {
    font-family: "cocogoose", sans-serif;
    color: #272a31;
  }

  .speaker-description-1 {
    color: #ec5242;
    margin: 4px 0;
  }

  .speaker-description-2 {
    color: #272a31;
    margin: 4px 0;
  }

  .separator {
    width: 30%;
    border-bottom: 1px solid #d3d3d3;
  }

  .more-btn {
    background-color: #fff;
    border: 2px solid #272a31;
    color: #272a31;
    padding: 3%;
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  .more-btn:hover {
    border: 2px solid #ec5242;
    color: #ec5242;
  }

  .more-btn img {
    width: 16%;
    height: auto;
    margin-top: -10px;
  }

  .partners-container {
    gap: 10%;
    padding: 6%;
    background-color: #272a31;
    flex-direction: column;
  }

  .partners-container h3 {
    color: #fff;
    font-size: 20px;
    margin: 2% auto;
  }

  .partners-img {
    margin: 7% auto;
    flex-wrap: wrap;
    gap: 4%;
  }

  .partners-img img,
  .auto {
    width: 30%;
  }

  .auto {
    margin: 4px auto;
  }

  footer {
    padding: 4%;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo-container {
    width: 40%;
  }

  .display-none {
    display: none;
  }
}
